.page {
  max-width: 1440px;
  margin: auto;
  font-family: Raleway, sans-serif;
}

/* Шапка */

.header {
  display: flex;
  justify-content: space-between;
  padding: 92px 50px 96px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__menu {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-position: inside;
}

.header__links-list-item {
  margin-left: 25px;
  list-style: circle;
}

.header__links-list-item-no-bullit {
  list-style: none;
}

.header__link {
  line-height: 24.3px;
  text-underline-position: under;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__logo-image {
  justify-content: center;
  width: 148px;
  height: 104px;
}

.header__address {
  display: grid;
  flex: 1;
  justify-items: right;
}

.address {
  width: 240px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-underline-position: under;
}

/* Заголовок */

.cover {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 3;
  padding: 165px 50px 137px 50px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  margin: 20px 0;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  display: block;
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  column-gap: 78px;
  padding: 0 50px 50px;
  text-align: center;
}

.cover__description-text {
  display: grid;
  grid-column: 2;
  align-items: center;
  color: rgb(255 255 255);
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  display: grid;
  grid-column: 3;
  justify-self: right;
  align-items: center;
  width: 257px;
  height: 52px;
  border: 1px solid rgb(255 255 255);
  color: rgb(255 255 255);
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

/* Лоты */

.lots {
  max-width: 1340px;
  margin: 180px auto 181px;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  gap: 25px;
}

.lots__card-list-item {
  flex: 1;
  min-width: 430px;
  min-height: 450px;
  list-style: none;
}

.card__link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 3;
  padding: 50px 40px 0 40px;
  color: rgb(255 255 255);
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
  padding: 0 40px;
  color: rgb(255 255 255);
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  border-bottom: 1px solid black;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

/* Об аукционе */

.about {
  max-width: 1340px;
  margin: auto;
}

.about__column {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 4px;
  column-gap: 10px;
}

.about__logo {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 90px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: grid;
  grid-column: 2;
  grid-row: 2;  
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__text p {
  margin-top: 25px; 
}

.about__text p:first-child {
  margin-top: 0; 
}

/* Подвал */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-width: 1340px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 90px;
}

.footer__link {
  line-height: 24.3px;
  text-underline-position: under;
}

.footer__address {
  display: grid;
  }

.footer__menu {
  display: grid;
  justify-items: center;
}

.footer__menu-list {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
}

.footer__social-list-item {
  flex: 1;
  max-width: 48px;
  max-height: 48px;
}

.footer__social-link {
  text-decoration: none;
}